.bg {
    width: 100vw;
    height: calc(100vh-10vh);
    display: flex;
    justify-content: center;
}

.contact {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    position: absolute;
    margin: 5vh 0;
}

.socials {
    width: 30vw;
    padding-left: 1em;
    margin-top: 5em;
}

.socials h4 {
    color: aliceblue;
    font-size: 1.5em;
    font-family: var(--font-roboto);
}

.links {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-top: 3em;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
}

.message h3 {
    color: aliceblue;
}

.details {
    width: 35vw;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.form input {
    width: 30vw;
    font-size: 1.5em;
    outline: none;
    border: 1px grey;
    padding: 0.5em;
}

.form button {
    font-size: 1.5em;
    width: 30vw;
    outline: none;    
    background-color: rgb(93, 155, 209);
    color: aliceblue;
    border: none;
    padding: 0.5em;
}

.form textarea {
    width: 30vw;
    font-size: 1.5em;
    outline: none;
    border: none;
    padding: 0.5em;
}