.container {
    height: calc(100vh-10vh);
}

.container h1 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-family: var(--font-roboto);
    font-weight: 100;
    color: rgb(180, 175, 175);
}

.avatar {
    border-radius: 8em;
    filter: grayscale(1);
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    margin: 5vh ;
}