.container {
    width: 80vw;
    height: 10vh;
    margin: auto;
    background-color: rgb(93, 155, 209);
    border-radius: 0.5em;
    font-family: var(--font-poppins);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 1.5em;
    list-style: none;
    cursor: pointer;
    color: rgb(252, 252, 252);
}

.link {
    display: flex;
    justify-content: center;
    width: 4.5em;
    border-radius: .2em;
    text-decoration: none;
}

.active {
    background-color: aliceblue;
    color: rgb(7, 7, 7);
    font-weight: 800;
}